body {
    width: 12cm;
    height: 10cm;

    background-color: rgb(212, 218, 136);
    background-image: url(logo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 22px;
    border: 5px solid red;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: rgb(225, 33, 33);
    border-radius: 16px;
    border: 1px solid rgb(105, 76, 202);
    padding: 10px;
}